<h1>Es gibt eine neue Anmeldung f&uuml;r die Hochzeit!</h1>

<p>
  Es hat sich der Gast <%= @guest[:name] %> angemeldet. Insgesamt werden unter diesem Namen <%= @guest[:count] %> G&auml;ste erscheinen.
</p>

<br />

<p>Das wird eine tolle Party.</p>
