<div class="row">
  <%= image_tag "https://placekitten.com/g/970/500", class: "hero-image" %>
</div>

<div class="row yellow-background background">
  <div class="col-md-8 col-md-offset-2 margin-top-10">
    <h1 class="tk-adelle text-center">Wir werden heiraten!</h1>
    <div class="text-center">
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    </div>
    <span class="tk-penna-connected large text-center text">Samstag, 10. Oktober 2015</span><br />
    <span class="tk-adelle normal text-center text">um 12:30 Uhr in Berlin-K&ouml;penick</span>
    <span class="tk-penna-connected large text-center text">Bitte scrollt nach unten f&uuml;r Eure Zusage.</span><br />
  </div>
</div>

<div class="row blue-background background">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="tk-adelle text-left">Juliane & Holger</h2>

    <div class="col-md-12 yellow-background">
      <p class="tk-adelle small">Es war der 21.06.2007, Fête de la musique in Berlin.</p>
    </div>
  </div>
</div>

<div class="row yellow-background background">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="tk-adelle text-center">Eure Zusage</h2>

    <div class="input-group col-md-12">
      <span class="input-group-addon" id="basic-addon1">Dein Name</span>
      <input type="text" class="form-control" placeholder="Dein Name" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2">Anzahl G&auml;ste</span>
      <input type="number" class="form-control" placeholder="(insgesamt)" aria-describedby="basic-addon2">
    </div>
  </div>
</div>

<div class="row blue-background background">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="tk-adelle text-left">Locations</h2>

    <iframe width="728" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=13.568458557128906%2C52.442624411029634%2C13.57961654663086%2C52.448359461516596&amp;layer=mapnik&amp;marker=52.445492029604175%2C13.574037551879883" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=52.44549&amp;mlon=13.57404#map=17/52.44549/13.57404">View Larger Map</a></small>
  </div>
</div>
